:host {
  width: 85%;
}


.full-width {
  width: 100%;
}

/* Opcional: para que el botón quede con un poco más de espacio arriba */
button[type="submit"] {
  align-self: center;
  width: 100%;
}

.auth-header {
  text-align: center;
  margin-bottom: 20px;

  .auth-logo {
    width: 10rem;
    margin-bottom: 10px;
  }

  .auth-title {
    font-size: 2rem;
    margin: 0;
    color: var(--itg-text);
    text-align: start;
  }
}

.btn-group {
  display: flex;
  flex-direction: column; /* o 'row' si quieres que estén uno al lado del otro */
  gap: 1rem; /* ajusta el espacio como prefieras (por ejemplo: 10px, 16px, etc.) */
}