:host {
  width: 85%;
}

.auth-form {
  max-width: 40rem;
  margin: 0 auto;
  gap: 3rem; /* Espacio vertical entre campos */
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.full-width {
  width: 100%;
}

/* Opcional: para que el botón quede con un poco más de espacio arriba */
button[type="submit"] {
  align-self: center;
  width: 100%;
}

.auth-header {
  text-align: center;
  margin-bottom: 20px;

  .auth-logo {
    width: 10rem;
    margin-bottom: 10px;
  }

  .auth-title {
    font-size: 2.5rem;
    margin: 0;
    color: var(--itg-text);
    text-align: start;
  }
}

.btn-group {
  display: flex;
  flex-direction: column; /* o 'row' si quieres que estén uno al lado del otro */
  gap: 1rem; /* ajusta el espacio como prefieras (por ejemplo: 10px, 16px, etc.) */
}