.container {
  display: flex;
  height: 100vh; /* altura completa de la ventana */
}

.left-pane, .right-pane {
  flex: 1; /* cada uno ocupa la mitad */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-pane {
  background-color: var(--itg-bg); /* ejemplo de fondo */
}

.right-pane {
  background-color: var(--itg-primary); /* ejemplo de fondo */
  color: var(--itg-bg);
  flex-direction: column;
  text-align: center;
}

.right-pane .content img {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.content{
  padding: 0 1rem;
}

