<div class="container">
  <div class="left-pane">
    <router-outlet></router-outlet>
  </div>
  <div class="right-pane">
    <div class="content">
      <img src="/public/assets/tu-imagen.png" alt="Descripción imagen" />
      <h2>Integrity Solution</h2>
      <p>Nuestras lineas de negocios, proporcionan a nuestros clientes el respaldo apropiado en la busqueda de soluciones integrales
        a nivel empresarial, junto con la experiencia de nuestros consultores y el compromiso de calidad brindada.
      </p>
    </div>
  </div>
</div>